SPRING_PROFILES_ACTIVE=docker
SPRING_DATASOURCE_URL=jdbc:postgresql://postgres:5432/chef_table
SPRING_DATASOURCE_USERNAME=chef_table
SPRING_DATASOURCE_PASSWORD=chef_table
CHEF_TABLE_AUTH_DEV_CODE=1234
CHEF_TABLE_AUTH_SECURE_COOKIE=false
LOGGING_LEVEL_RU_CHEFTABLE=INFO
